*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
main{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
form{
    padding: 0.5rem;
    width: 20rem;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--bkg-color);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.date-ammount-container, .plan-container, .submit-container{
    display: flex;
    justify-content: space-between;
}
.name, .indicator,.submit-container{
    width: 100%;
}
.date, .ammount, .name, .indicator, .fee, .days, .submit{
    margin-top: 1rem;
    height: 1.5rem;
    text-align: center;
    border: var(--border);
    /* box-shadow: var(--box-shadow); */
    /* border-radius: var(--border-radius); */
}
.submit-container{
    justify-content: flex-end;
}
.submit{
    width: 4rem;
}