*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
main{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}
form{
    padding: 0.8rem;
    width: 20rem;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--bkg-color);
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.date-ammount-container, .plan-container, .submit-container{
    display: flex;
    justify-content: space-between;
}
.name, .indicator,.submit-container{
    width: 100%;
}
.date, .ammount, .name, .indicator, .fee, .days, .submit, li{
    margin-top: 1rem;
    height: 1.5rem;
    text-align: center;
    border: var(--border);
    /* box-shadow: var(--box-shadow); */
    /* border-radius: var(--border-radius); */
}
.date{
    color: var(--color);
    font-weight: lighter;
    display: inline-flex;
    justify-content: center;
}
.submit-container{
    justify-content: flex-end;
}
.submit{
    width: 4rem;
}
/* cuotes container */
.cuotes-container{
    margin: 1rem 0;
    height:auto;
    border: var(--border);
}
.list-container{
    display: block;
    columns: 2;
    /* list-style-position:inside; */
    /* list-style-type:decimal; */
    counter-reset: number;
    list-style: none;
}
li{
    margin:0;
    /* padding: 0.2rem; */
    width: 100%;
    align-content: center;
    text-align: start;
    
}
.list-container li span::before {
    counter-increment: number;
    content: counter(number)"\a0";
}
span{
    width: 1.5rem;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-right: var(--border);
    color: var(--color);
}